.container {
    display: grid;
    grid-gap: 15px;
    height: 100vh;
    grid-template-columns: 
        [left-sidebar-start] 1fr
        [left-sidebar-end main-content-start] 2fr
        [main-content-end rigth-sidebar-start] 1fr;
    grid-template-rows: 
        [body-start] 6fr
        [body-end footer-start] 2fr
        [footer-end];
}

.container > * {
    background-color: lightgreen;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    grid-column: main-content-start / main-contend-end;
}

.left-sidebar {
    grid-row: body-start / footer-end;
}